* {
    box-sizing: border-box;
}
header {
    display: flex;
    background-image:
        radial-gradient(at top left, #000000, transparent),
        radial-gradient(at top center, #ff26ff, transparent),
        radial-gradient(at top right, #2b86fd, transparent),
        radial-gradient(at bottom right, #67236d, transparent),
        radial-gradient(at bottom left, #2b86fd, transparent);
    background-size: cover;
    min-height: 100%;
    position: sticky;
    height: 20vh;
}
header > p , a {
    color: white;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
}
header > p {
    flex: 30%;
    font-size: 1.5rem;
    padding: 0 5vh;
    animation-name: logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes logo {
    0%   {text-shadow: 0 0 0 #fff; font-size: 1.5rem;}
    25%  {text-shadow: 0 0 20px #fff; font-size: 2rem;}
    50%  {text-shadow: 0 0 40px #fff; font-size: 2rem;}
    75%  {text-shadow: 0 0 20px #fff; font-size: 2rem;}
    100% {text-shadow: 0 0 0 #fff; font-size: 1.5rem;}
    }
header > nav {
    flex: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
a.menu:link, a.menu:visited {
    font-size: 1rem;
    text-decoration: none;
    transition: 1s;
}
a.menu:hover {
    font-size: 1.3rem;
    text-decoration: none;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
}
a.menu:active {
    font-size: 1rem;
    text-decoration: none;
    transition: 1s;
}
.row {
    display: flex;
    text-align: center;
}
.row1 {
    
}
.row2 {
    flex: 50%;
    flex-wrap: wrap;
    
}
.row3 {
    flex: 33%;
}
#represent_photo {
    width: 70%;
    text-align: center;
}