@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

* {
    box-sizing: border-box;
}
header {
    display: flex;
    background-image:
        radial-gradient(at top left, #000000, transparent),
        radial-gradient(at top center, #ff26ff, transparent),
        radial-gradient(at top right, #2b86fd, transparent),
        radial-gradient(at bottom right, #67236d, transparent),
        radial-gradient(at bottom left, #2b86fd, transparent);
    background-size: cover;
    min-height: 100%;
    position: sticky;
    top: 0;
    height: 15vh;
    border-radius: 10px;
}
h1 , p , a {
    color: white;
    font-weight: bold;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 7px;
}
header > p {
    flex: 30%;
    font-size: 1.2rem;
    padding: 0 5vh;
    animation-name: logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes logo {
    0%   {text-shadow: 0 0 0 #fff; font-size: 1.2rem;}
    25%  {text-shadow: 0 0 20px #fff; font-size: 1.7rem;}
    50%  {text-shadow: 0 0 40px #fff; font-size: 1.7rem;}
    75%  {text-shadow: 0 0 20px #fff; font-size: 1.7rem;}
    100% {text-shadow: 0 0 0 #fff; font-size: 1.2rem;}
    }
header > nav {
    flex: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
a.menu:link, a.menu:visited {
    font-size: 1rem;
    text-decoration: none;
    transition: 1s;
}
a.menu:hover {
    font-size: 1.3rem;
    text-decoration: none;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
}
a.menu:active {
    font-size: 1rem;
    text-decoration: none;
    transition: 1s;
}
form {
    padding: 20px 26px;
    text-decoration: none;
    width:50%;
    text-align: center;
    margin: auto;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
}
fieldset {
    border: 1px solid white;
    border-radius: 20px;
}
#contacts {
    margin: auto;
    text-align: center;
}
.name {
    font-size: xx-large;
}
.row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 4rem 2em;
    align-items: center;
    margin-top: 0.5rem;
}
.row2 , .row4 , .row5 , .circle_inside {
    background-image:
    radial-gradient(at top left, #000000, transparent),
    radial-gradient(at top center, #ff26ff, transparent),
    radial-gradient(at top right, #2b86fd, transparent),
    radial-gradient(at bottom right, #67236d, transparent),
    radial-gradient(at bottom left, #2b86fd, transparent);
    background-size: cover;
}
.row2 , .row4 , .row5 {
    flex-wrap: wrap;
    border-radius: 20px;
}
.row5 {
    text-align: center;
    padding: 0.5rem;
    margin-top: 1rem;
}
.circle_inside {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: auto;
}
.circle_inside > h1 {
    margin: auto;
    padding-top: 4rem;
    width: 80%;
}
.column1 , .column2 , .column5 , .column6 {
    flex: 50%;
}
.column3 {
    flex: 33%;
    font-size: 0.7rem;
    margin-bottom: 1rem;
}
.column1 > h1 , .column6 > h1 {
    font-size: 4rem;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
}
.column1 > p , .column6 > p {
    font-size: 1.3rem;
    margin-bottom: 10vh;
}
.video {
    text-align: center;
    padding-top: -6rem;
}
.video > video {
    width: 90%;
}
#represent_photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -7.3rem;
    margin-top: -4.5rem;
    width: 70%;
}
#headset {
    width: 80%;
}
#button {
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 6px 24px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    font-size: 1rem;
    cursor: pointer;
    transition: .3s linear;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
    text-decoration: none;
    padding: 5px;
}
#button:hover {
    font-size: 1.5rem;
    padding: 10px;
}
#circle_text {
    font-size: 1rem;
    padding-top: 3rem;
    padding-left: 0.5rem;
    align-items: center;
}